<%- include('partials/header.ejs') %>
<form action="/admin/panel" method="POST">
    <div class="form-group col-md-4">
        <label for="department">Department</label>
        <select id="department" name="department" class="form-control">
          <option selected>Choose...</option>
            <option>Education</option>
            <option>Health</option>
            <option>Civil Services</option>
            <option>Finance</option>
            <option>Agriculture</option>
            <option>PWC</option>
            <option>Transport</option>
            <option>Electricity</option>
        </select>
    </div>    
    <button type="submit" class="btn btn-danger">Search</button>
</form>

<%- include('partials/footer.ejs') %>
